<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.danny.xui" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>
        <activity android:name=".ScreenShotWindow"
            android:theme="@style/shotScreenDialog"/>
    </application>
</manifest>
